/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para centrar los títulos de las secciones */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para centrar la imagen de la portada */
header {
    text-align: center;
}


header img {
    display: block;
    margin: 0 auto;
}

img {
    height: 500px;
    width: auto; /* Esto mantiene la relación de aspecto */
}


